* {
  box-sizing: border-box;
}

.container {
	display: block;
	border: solid 1px white;
	height: 100%;

	.header {
		height: 50px;
		padding: 5px;
		background-color: blue;
		display: flex;
		justify-content: space-between;		
		
		.flex-item {
			padding-top: 10px;
		}
		
		input {
			padding: 5px;
		}

		button {
			background-color: #487ADEFF;
			border: none;
			padding: 5px;
			color: white;
		}

		button:hover {
			background-color: white;
			color: black;
		}

		button:focus {
			outline: 0;
		}
	}

	.body {
		background-color: gray;
		
		.note-list{
			text-align: center;
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			.list-item {
				background-color: #487ADEFF; /* Green */
			  text-align: center;		  
			  display: block;
				
				button {
					color: white;
					background-color: #487ADEFF;
					border: none;
					padding: none;
					width: 100%; 
					text-decoration: none;

				}
				
				button:focus {
					outline: 0;
				}
				
				span.selected {
					font-weight: bold;
				}	

				button.selected {
					background-color: gray;
				}
			}

			
			.list-item:hover {
				background-color: white;
				button{
					color: black;
					background-color: white;

				}		
			}	
		}
	}
}

.left {
	width: 25%;
	float: left;
	position: fixed;
	overflow: auto;
	
}

.right {
	width: 75%;
	float: right;
	padding-left: 5px;
}

.hide {
	visibility: hidden;
}

.full-width {
	width: 100%;
}

.fas {
	font-size: 1.5em;
} 

.tooltip {
	position: relative;
	display: inline-block;

	.tooltiptext {
		visibility: hidden;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;

		position: absolute;
		z-index: 1;
	}
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}




